@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    @apply fixed top-0 left-0 w-full z-40 text-white;
}




*{
    @apply scroll-smooth;
}

/*@media (min-width: 1024px) {
    .circle{
        @apply absolute -top-48 -left-40 overflow-hidden;
    }

    .topright{
        @apply inline-block absolute top-0 right-0 overflow-hidden;
    }

    .bottomleft{
        @apply absolute left-0 mt-96 py-48 scale-110;
    }
}*/



.act{
    @apply block;
}

.title{
    @apply z-30;
}

.jump{
    @apply z-10;
}












